



@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

/* --------------------------------------
.      font-family: Dosis;
.      font-family: 'Ranchers', cursive;
-------------------------------------- */

$themeColor: red;
$footerHeight: 120px;
$wrapperBottomMargin: -120px;








body{  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: Dosis, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;

}



// -------------Nav and  Footer Color
.nav.nav-wrapper, #myFooter{
  background-color: $themeColor;  
}





/* ----------------------------------
.           STICKY FOOTER
---------------------------------- */
#myWrapper{
  min-height: 100vh;
  margin-bottom: $wrapperBottomMargin;
}

#myWrapper::after, #myFooter{
  content: "";
  display: block;

  height: $footerHeight;
  overflow: hidden;
}








/* ------------------------------------
.              HAMBURGER
------------------------------------ */
.sidenav-trigger{
  position: relative;
  top: 10px;
  cursor: pointer;
}
.sidenav-trigger > div {
  width: 30px;    
  height: 3px;
  margin: 7px;
  background-color: #fff;
  border-radius: 30px;
}





/* ------------------------------------
.    FORM INPUT INTO PRIMARY COLOR
------------------------------------ */
.input-field input[type=text]:focus + label {
  color: $themeColor !important;
}

.input-field input[type=text]:focus{
  border-bottom: 1px solid $themeColor !important;
  box-shadow: 0 1px 0 0 $themeColor !important;
}

.prefix.active{
  color: $themeColor !important;
}